SublimeText_User/Package Control.last-run
SublimeText_User/Package Control.ca-list
SublimeText_User/Package Control.ca-bundle
SublimeText_User/Package Control.system-ca-bundle
SublimeText_User/Package Control.cache/
SublimeText_User/Package Control.ca-certs/
